body {
    background-color: white;
    color: #333333 !important;
}

/*forum styles */
a {
    color: #00a138;
}

a:hover {
    color: red;
}

.widgetFORUMStyle a {
    font-weight: bold;
    font-size: 0.9em;
    padding-left: 2px;
    padding-right: 3px;
}

.manageForumLink {
    color: black;
}

.manageForumLink:hover {
    color: red;
}

.forumLink {
    color: white;
}

.forumLink:hover {
    color: red;
}

.threadNameLink {
    color: #00a138;
    font-size: 1.1em !important;
    text-decoration: none;
}

.postList {
    border: 1px solid #D4FFE2;
}

.forumFont {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.postListHeading {
    background-color: #d8ffa9;
}

.postRow {
    background-color: #ffffff;
}

.threadDescription {
    color: #333333;
    font-size: 0.8em;
    font-style: italic;
}

.threadNameLink:hover {
    color: red;
    font-size: 1.1em;
}

.subForumListHeadingRow {
    background-color: #d8ffa9;
}

.subForumListBorder {
    background-color: #D4FFE2;
}

.subForumNameCell {
}

.subForumRow {
    background-color: white;
}

.postCountCell {
}

.threadCountCell {
}

.subForumLastUpdatedCell {
}

.subForumNameLink {
    color: #00a138;
    font-size: 1.1em !important;
    text-decoration: none;
}

.subForumNameLink:hover {
    color: red;
    font-size: 1.1em;
}

.subForumDescription {
    font-size: 0.8em;
    font-style: italic;
}

.forumBreadCrumbs {
    background-color: #D4FFE2;
    color: #333333;
}

.forumBreadCrumbs a:hover {
    color: red;
}

a.navigateForumLink {
    color: #333333;
}

.forumAddingLinks {
    background-color: #00A138;
}

.threadList {
    background-color: #D4FFE2;
}

.threadListHeading {
    background-color: #d8ffa9;
}

.threadRow {
    background-color: #ffffff;
}

.evenPostBGColor {
    background-color: #D4FFE2;
}

.notEvenPostBGColor {
    background-color: #FFffff;
}

.postAuthorText {

}

/*forum style end*/

blockquote {
    background-color: #ffffff;
    border: 1px solid black;
    text-align: left;
}

/*#topPane {
    background-color: #5B1E65;
}

#bottomPane {
    background-color: white;
} */

.rightColumn {
    background-color: white;
}

/*Blog visual item tyles. Beginning*/

.widgetBLOGStyle {
    padding: 7px;
}

.blogPostText p, .blogPostText div, .blogPostCommentText p, .blogPostCommentText div, .widgetBLOGStyle a {
    font-size: 10pt;
}

.blogName {
    font-weight: bold;
    font-size: 20pt;
    padding: 15px 0;
    color: #333333;
}

.addBlogPost a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #333333;
}

.blogPostTitle {
    display: block;
    font-size: 14pt;
    color: #00a138;
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 1px dashed #00a138;
}

.blogPostText {
    padding-right: 15px;
    line-height: 1.4em;
    font-family: Verdana, Helvetica, Arial, Helvetica, sans-serif;
}

.blogPostCommentText p {
    color: darkgreen;
}

.blogPostInfo span, .blogPostCommentInfo span {
    font-size: 8pt;
    font-style: italic;
    padding-left: 20px;
    padding-bottom: 10px;
}

.blogPostLinks span, .blogPostCommentLinks span {
    padding-right: 20px;
    font-size: 10pt;
    font-weight: bold;

}

.blogPostLinks {
    padding-top: 15px;
}

.blogPostLinks a {
    color: #333333;
}

.addBlogPostComment a {
    font-weight: bold;
    color: #333333;
}

.blogPostComments {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px dashed olive;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogpostComments a {
    font-weight: bold;
    color: #333333;
}

.blogpostComments a:hover {
    color: #00a138;
}

.blogPostCommentsShowHide  a {
    font-weight: bold;
    color: #333333;
}

/*Blog visual item tyles. The end*/

#mainTbl {
    background-color: white;
}

/*Menu visual item tyles. Beginning*/


.topLevelMenuItem_TREE_STYLE a, .selectedTopLevelMenuItem_TREE_STYLE a {
    color: #333333;
    font-weight: bold;
}



.subMenu_TREE_STYLE td a, .selectedSubMenu_TREE_STYLE td a {
    color: #333333;
    font-weight: bold;
}



.subMenu_TREE_STYLE.mouseOver td, .selectedSubMenu_TREE_STYLE td {
    background-color: #D4FFE2;
    font-weight: bold;
}

.topLevelMenuItem_TREE_STYLE.mouseOver a, .selectedTopLevelMenuItem_TREE_STYLE span {
    color: #333333;
}

/*Menu visual item tyles. The end*/

/* - Image visual item tyles. Beginning*/

.widgetIMAGEStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif !important;
}

.imageTitle {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

.imageDescription {

}

/* - Image visual item tyles. The end*/

/*Text visual item tyles. Beginning*/
.widgetTEXTStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #333333;
    padding: 5px;
}

/*Text visual item tyles. The end*/

/*blog summary visual item styles*/
.widgetBLOG_SUMMARYStyle {
    padding: 5px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

.blogSummaryHeader {
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #00a138;
}

.blogSummaryPostName {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: bold;
}

.blogSummaryPostText {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding-top: 3px;
}

.blogSummaryBlogName {

}

/*blog summary visual item styles. the end*/

/*login form style*/
.loginForm {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 5px 5px 20px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.loginForm a:link {
    color: #333333;
    text-decoration: underline;
}

.loginForm a:hover {
    color: red;
    text-decoration: underline;
}

/*login form style the end */
/*Registration item styles. The beginning*/
.widgetREGISTRATIONStyle {
    padding-left: 5px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

.registrationHeader p {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 1.1em;

}

.registrationTable {
    font-size: 0.8em;
    color: #333333;
    font-weight: bold;
}

.registrationTable td {
    padding: 3px;
}

#securityCodeText {
    font-weight: bold;
    font-size: 0.8em;
    color: #00a138;
    padding: 3px;
    margin-bottom: 10px;
}

/*Registration item styles. The End*/
/*Contact us item style. The beginning*/
.widgetCONTACT_USStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-weight: bold;
    font-size: 10pt;
    width: 100%;
}

.widgetCONTACT_USStyle p {
    font-size: 10pt !important;
}

.widgetCONTACT_USStyle td {
    padding: 3px 7px 3px 0;
    color: #333333;
    font-size: 10pt;
}

/*Contact us item style. The end*/

.formInstruction {
    margin-left: 5px;
    margin-top: -5px;
    font-size: 9pt;
    font-weight: normal;
}

/*custom form style. the beginning*/
.widgetCUSTOM_FORMStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    font-size: 11pt;
}

.widgetCUSTOM_FORMStyle  td {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #717276;
    font-size: 9pt;
    font-weight: bold;
}

/*custom form style. the end*/
/*child site registration. the beginning*/
.widgetCHILD_SITE_REGISTRATIONStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    font-size: 11pt;
    color: #00a138;
}

.widgetCHILD_SITE_REGISTRATIONStyle p {
    color: #717276;
}

.widgetCHILD_SITE_REGISTRATIONStyle td {
    font-size: 10pt;
}

/*child site registration. the end*/
/*video item style*/

.widgetVIDEOStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #717276;
}

/*video item style. the end*/
/* gallery styles*/
/*next*/
.galleryDataAfterItemBordered {
    border: 1px solid #dedede;
}

/*digits*/
.galleryDataItemBordered {
    border: 1px solid #dedede;
}

/*current*/

.galleryDataCurrentItemBordered {
    border: 1px solid #4d6498;
    background-color: #4d6498;
    color: #dedede;
}

/*previous*/
.galleryDataBeforeItemBordered {
    border: 1px solid #dedede;
}

/* gallery styles, the end */




/*gallery data display field labels*/


/*gallery data display field labels end*/