@charset "utf-8";
/* CSS Document */
body {
     color:#333;
 }
#wrapper {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/wood-walnut-background-tile.jpg);
	
}
.headerTop {
	background-color:#273854;
    color:#FFF;
}
.headerTopContentwide{
	background-image:url(<!-- TEMPLATE_RESOURCE -->/contentTop.png);
	background-repeat:no-repeat;
	background-position:center bottom;
}

.headerBottom {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/transparent50white.png);

}
.contentTop {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/contentTop-white.png);
	background-repeat:no-repeat;
}
.contentTopLarge {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/contentTop-white.png);
	background-repeat:no-repeat;
	background-position:bottom;
}
.contentBottom {
	background-color:#FFF;
}
.footer {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/footer-grey.png);
	background-repeat:no-repeat;
	
}