<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><!-- PAGE_TITLE --></title>
    <!-- PAGE_HEADER -->
    <link href="/site/templates/tea/structure.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="wrapper">

    <div class="headerTop2">
        <div class="headerTopContent3 media_block_fixed">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div class="earLeft mediaBlock"></div>
                    </td>
                    <td>
                        <div class="topCenter mediaBlock"></div>
                    </td>
                    <td>
                        <div class="earRight mediaBlock">jjljlj</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="headerBottom">
        <div class="headerBottomContent  mediaBlock"></div>
    </div>

    <div class="content">
        <div class="mainTop">
            <div class="mainTopContent mediaBlock"></div>
        </div>
        <div class="mainMiddle ">
            <div class="mainMiddleContent mediaBlock"></div>
        </div>
        <div class="mainBottom ">
            <div class="mainBottomContent mediaBlock"></div>
        </div>
    </div>

    <div class="footer ">
        <div class="footerContent media_block_fixed mediaBlock"></div>
    </div>
    <!--end of wrapper -->
</div>


</body>
</html>
