@charset "utf-8";
/* CSS Document */
.leftpanelcontainer {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-middle-sage.png) repeat-y;
	}
.leftpaneltop {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-top-sage.png) no-repeat right top;
}
.leftpanelbottom {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-bottom-sage.png) no-repeat right bottom;
}
.mainareacontainer {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-mainmiddle-blue1.png) repeat-y;}
.mainareatop {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-maintop-blue1.png) no-repeat ;}
.mainareabottom {
 background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-mainbottom-blue1.png) no-repeat left bottom;color:#fff;} 
	

.mainleft {
	background-color:#ebeddf;
}