@charset "utf-8";
/* CSS Document */

body {
	background-color:#000;
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/bg-gray.png);
	background-repeat:repeat-x;
	color:#fff;
}
.wrapper {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/white-purple.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	min-height:768px;
}
.content, .contentcenter {
color:#000;
}