@charset "utf-8";
/* CSS Document */
body {
	background-color:#301b0f;
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/early-morning1.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}


