@charset "utf-8";
/* CSS Document */
body {
	background-color:#eee;

	}
.headercontainer {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/rightpanel-top.png);
	background-repeat:no-repeat;
	background-position:center top;
}
.maincontainer {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/rightpanel-middle.png);
	background-repeat:repeat-y;
	background-position:center top;


}
.footercontainer {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/rightpanel-bottom.png);
	background-repeat:no-repeat;
	background-position:center top;

}