.topPane, .bottomPane {
    background-color: #B3C9FA;
}

.smallContentPane {
    background-color: gainsboro;

}

/* Item styles */

.postForm {
    border: #B3C9FA solid 1px;
}

/*forum styles*/

.widgetFORUMStyle a {
    padding-left: 2px;
    padding-right: 3px;
    font-size: 10pt;
}

.manageForumLink {
    color: cornflowerblue;
}

.manageForumLink:hover {
    color: red;
}

.forumLink {
    color: cornflowerblue;
}

.forumLink:hover {
    color: red;
}

.threadNameLink {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.threadNameLink:hover {
    color: red;
}

.postList {
    border: 1px solid dimgray;
}

.postListHeading {
    background-color: #dedfdf;
}

.forumFont {
    font-family: Tahoma, sans-serif;
}

.postRow {
    background-color: #ffffff;
}

.subForumListHeadingRow {
    background-color: #dedfdf;
}

.threadDescription {
    color: navy;
    font-size: 9pt;

}

.subForumListBorder {
    background-color: black;
}

.subForumNameCell {
}

.subForumRow {
    background-color: white;
}

.postCountCell {
}

.threadCountCell {
}

.subForumLastUpdatedCell {
    background-color: white;
}

.subForumNameLink {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.subForumNameLink:hover {
    color: red;
    text-decoration: none;
}

.subForumDescription {
    font-size: 9pt;
    color: navy;
}

.manageSubForumText {
    color: #ffffff;
}

.forumBreadCrumbs {
    background-color: #ffffff;
    color: #333333;
}

a.navigateForumLink {
    color: cornflowerblue;
    text-decoration: none;
}

.forumAddingLinks {
    background-color: white;

}

.forumAddingLinks a:hover {
    color: red;
}

.threadList {
    background-color: #000000;
}

.threadListHeading {
    background-color: #dddddd;
}

.threadRow {
    background-color: #ffffff;
}

.evenPostBGColor {
    background-color: #ffffff;
}

.notEvenPostBGColor {
    background-color: #ffffff;
}

.postAuthorText {

}

/* forum style end*/

blockquote {
    background-color: #ffffff;
    border: 1px solid black;
    text-align: left;
}

/*Blog visual item tyles. Beginning*/

.widgetBLOGStyle a {
    font-size: 10pt;
    font-weight: bold;
    color: orange;
}

.widgetBLOGStyle a:hover {
    color: red;
}

.blogName {
    color: cornflowerblue;
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blogPostTitle {
    display: block;
    color: #6372ED;
    font-size: 12pt;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid #dedede;
}

.blogPostInfo {
    margin-left: 30px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 8pt;
}

.blogPostDate {
    padding-left: 20px;
}

.addBlogPost a:link, .addBlogPost a:visited, .addBlogPost a:visited {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}

.blogPostLinks   a:link,
    .addBlogPostComment  a:link, addBlogPostComment a:visited,
    .blogPostCommentsShowHide a:link, .blogPostCommentsShowHide a:visited {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
}

.addBlogPost a:hover, .addBlogPost a:active,
    .blogPostLinks   a:hover, .addBlogPost a:active,
    .addBlogPostComment  a:hover, addBlogPostComment a:active,
    .blogPostCommentsShowHide a:hover, .blogPostCommentsShowHide a:active {
    color: red;
    font-weight: bold;
}

.blogPostUpdate {
    padding-left: 20px;
}

.blogPostText p {
    text-align: justify;
    line-height: 1.6em;
    font-size: 10pt;
}

.addBlogPostComment {
    padding-top: 7px;
    padding-bottom: 3px;
}

.blogPostCommentsShowHide {
    padding-top: 7px;
    padding-bottom: 15px;
}

.blogPostComments {
    margin-left: 50px;
    padding: 10px;
    border: 1px solid #dedede;
    font-size: 9pt;
}

/*Blog visual item tyles. The end*/

/* image    styles*/
.widgetIMAGEStyle {

    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.imageTitle {
    padding-top: 7px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #6372ED;

}

.imageDescription {
    padding-top: 7px;
    padding-bottom: 5px;
    color: #666666;
}

/*Image visual item tyles. The end*/

/*Menu visual item tyles. Beginning*/


.horizontalSeparator {
    color: #f2f6f9;
}

.topLevelMenuItem_TREE_STYLE.mouseOver a, .selectedTopLevelMenuItem_TREE_STYLE span {
    color: #333333;
}

.topLevelMenuItem_TREE_STYLE a, .selectedTopLevelMenuItem_TREE_STYLE a {
    font-weight: bold;
}

.subMenu_TREE_STYLE.mouseOver td, .selectedSubMenu_TREE_STYLE td {
    background-color: #dcdcdc;
}

/*menu 2  */

.topPane .horizontalSeparator {
    color: #333333;
}

.topPane .topLevelMenuItem_TREE_STYLE.mouseOver a, .topPane .selectedTopLevelMenuItem_TREE_STYLE span {
    color: #000000;
}

.topPane .topLevelMenuItem_TREE_STYLE a, .topPane .selectedTopLevelMenuItem_TREE_STYLE a {
    color: #333333;
    font-weight: bold;
}

.topPane .subMenu_TREE_STYLE td a, .selectedSubMenu_TREE_STYLE td a {
    color: #333333;
    font-weight: bold;
}

.topPane .subMenu_TREE_STYLE.mouseOver td, .selectedSubMenu_TREE_STYLE td {
    background-color: #dedede;
}

/*Menu visual item tyles. The end*/

/*Text visual item tyles. Beginning*/
.widgetTEXTStyle {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #333333;
}

/*Text visual item tyles. The end*/

/*blog summary visual item styles*/
.widgetBLOG_SUMMARYStyle {
    padding: 5px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

.blogSummaryHeader {
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #6372ED;
    display: block;
}

.blogSummaryPostName {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 11pt;
    font-weight: bold;
}

.blogSummaryPostText {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding-top: 3px;
    display: block;
    font-size: 9pt;
}

.widgetBLOG_SUMMARYStyle a {
    font-size: 9pt;
    color: orange;
}

.widgetBLOG_SUMMARYStyle a:hover {
    color: red;
}

/*blog summary visual item styles. the end*/

/*video item style*/

.widgetVIDEOStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333333;
}

/*video item style. the end*/

/*login form style*/
.widgetLOGINStyle {
    padding-left: 15px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: navy;
}

.widgetLOGINStyle td {
    font-size: 10pt;
    color: navy;
    padding: 5px;

}

.loginForm {
    font-size: 11pt !important;
    padding: 5px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.loginForm a:link {
    color: #6372ED;
    text-decoration: underline;
    font-size: 10pt;
}

.loginForm a:hover {
    color: #c54524;

}

.loginFormHeader {
    font-size: 12pt;
    padding-bottom: 15px;
    font-weight: bold;
    color: #c54524;

}

.loginFormLabel {
    font-size: 10pt;
    padding-top: 5px;
}

a:link.loginFormReturnToRegLink {
    color: #6372ed !important;
    text-decoration: underline;
    font-size: 10pt;
}

a:link.loginFormRegLink {
    color: #c54524 !important;
}

/*login form style the end */
/*Registration item styles. The beginning*/
.widgetREGISTRATIONStyle {
    padding-left: 5px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

}

.registrationHeader p {
    padding-bottom: 15px;
    display: block;
    font-size: 14pt;
    color: #c54524;
}

.registrationTable {
    font-size: 9pt;
    color: #6372ed;
}

.registrationTable td {
    padding: 3px;
}

#securityCodeText {

    font-size: 10pt;
    color: #c54524;
    padding: 3px;
    margin-bottom: 10px;
}

/*Registration item styles. The End*/

/*Contact us item style. The beginning*/
.widgetCONTACT_USStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding-left: 15px;
    width: 100%;

}

.widgetCONTACT_USStyle td {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #717276;
    font-size: 10pt;
}

/*Contact us item style. The end*/

.formInstruction {
    margin-left: 5px;
    margin-top: -5px;
    font-size: 9pt;
    font-weight: normal;
}

/*custom form style. the beginning*/
.widgetCUSTOM_FORMStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    font-size: 10pt;
    color: #6372ed;
}

.widgetCUSTOM_FORMStyle  td {
    padding-top: 5px;
    padding-bottom: 3px;
    color: #6372ed;
    font-size: 10pt;
}

/*custom form style. the end*/
/*child site registration. the beginning*/
.widgetCHILD_SITE_REGISTRATIONStyle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 11pt;
    color: #c54524;
}

.widgetCHILD_SITE_REGISTRATIONStyle p {
    color: #6372ed;
}

.widgetCHILD_SITE_REGISTRATIONStyle td {
    font-size: 9pt;

}

/*child site registration. the end*/
/* gallery styles*/
/*next*/
.galleryDataAfterItemBordered {
    border: 1px solid #dedede;
}

/*digits*/
.galleryDataItemBordered {
    border: 1px solid #dedede;
}

/*current*/

.galleryDataCurrentItemBordered {
    border: 1px solid #4d6498;
    background-color: #4d6498;
    color: #dedede;
}

/*previous*/
.galleryDataBeforeItemBordered {
    border: 1px solid #dedede;
}

/* gallery styles, the end */




/*gallery data display field labels*/


/*gallery data display field labels end*/
