@charset "utf-8";
/* CSS Document */

.wrapperBottom {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/corner15-left.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
}
.wrapperTop {
	background-image:url(<!-- TEMPLATE_RESOURCE -->/images/corner15-right.jpg);
	background-position:right top;
	background-repeat:no-repeat;
}
