@charset "utf-8";
/* CSS Document */
.leftpanelcontainer {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-middle-grey.png) repeat-y;
	}
.leftpaneltop {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-top-grey.png) no-repeat right top;
}
.leftpanelbottom {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-bottom-grey.png) no-repeat right bottom;
}
.mainareacontainer {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-mainmiddle-purple2.png) repeat-y;}
.mainareatop {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-maintop-purple2.png) no-repeat ;}
.mainareabottom {
 background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-mainbottom-purple2.png) no-repeat left bottom;} 
	

.mainleft {
	background-color:#e7dbf3;
}