@charset "utf-8";
/* CSS Document */
.leftpanelcontainer {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-middle-purple.png) repeat-y;
	}
.leftpaneltop {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-top-purple.png) no-repeat right top;
}
.leftpanelbottom {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-leftpanel-bottom-purple.png) no-repeat right bottom;
}
.mainareacontainer {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-mainmiddle-green.png) repeat-y;}
.mainareatop {
	background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-maintop-green.png) no-repeat ;}
.mainareabottom {
 background:url(<!-- TEMPLATE_RESOURCE -->/images/bg-mainbottom-green.png) no-repeat left bottom;} 
	

.mainleft {
	background-color:#e9d9f4;
}